/* styles.css */

/* Reset some default browser styles */
body {
  min-height: 100vh;
  background: url("Images/background.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
p.header {
  font-size: 125%;
}
.londrina-shadow-regular {
  font-family: "Londrina Shadow", serif;
  font-weight: 400;
  font-style: normal;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.btn-primary {
  --bs-btn-bg: #3f74ac;
  --bs-btn-active-bg: #3f74ac;
  --bs-btn-border-color: #38689c;
  --bs-btn-hover-bg: #29507a;
  --bs-btn-hover-border-color: #38689c;
}
